.link{
    color: var(--color-lotion);
    padding: 0 6px;
    transition: all 1.3s;
}
.link:hover{
    border-left: 1px solid var(--color-lotion);
    border-right: 1px solid var(--color-lotion);
    border-radius: 100px;
}
.link-active{
    border-left: 1px solid var(--color-lotion);
    border-radius: 100px;
}
.link-bold{
    font-weight: 600;
}
.under{
    text-decoration: underline;
}