@use "tools";

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
    background-color: var(--color-cetacean-blue);
}
main{
    display: flex;
    flex-direction: column;
}