:root{
    --color-cetacean-blue: #11113A;
    --color-space-cadet: #23235c;
    --color-lotion: #FAFAFA;
    --color-white: #FFF;

    --container-max-width: 1180px;
    --container-padding: 0 24px;
}

$breakpoint-large: 992px;